html,body{
    padding:0px;
    margin:0px;
}
*{
    box-sizing: border-box;
}
body{
background-image: url("3.gif");
background-size: cover;
height:100vh;
width:100vw;

}

.paddle{
    border-radius:20px;
    position: fixed;
    height:150px;
    width:30px;
    background-color: red;
    border: 1px solid white;
}
#two{
    right:0px;
}
#ball{
    position: fixed;
   
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid white;
}
