*{
    box-sizing: border-box;
    color: white;
    /* border: 1px solid;*/
}
body,html{
    color:red;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto' ,sans-serif;
}
.container{
    height: 100vh;
    background-color: #1e2024;
    /* To provide white space */
    padding: 0 1rem;
    padding-top: 1rem;
}
.top-row{
    height: 55px;
    display: flex;   
    justify-content: space-between;
    margin-bottom: 1rem;
}
.btn-container{
    /* border: 1px solid red; */
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* btn default styling */
.btn{
 background: #444857;
    height: 80%;
    width: 35%;
    border-radius: 4px;
    border: none;
}
.btn.new{
    color: black;
    background-image: 
    linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.tabs-container{
    width: calc(100vw - 15rem);
    background: gray;
    height: 100%;
    text-align: center;
}
.main-container{
    height: calc(100vh - 87px );

    display: flex;
}

.file-explorer{
    height: 100%;
    background: inherit;
    width: 30%;
    overflow-y: auto;
}

.content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textbox{
    height: 69%;
    border: 1px solid;
}
.terminal-container{
    height: 28%;
    /* border: 1px solid blue; */
}
/* scroll height width */
::-webkit-scrollbar{
    width:5px;
    height: 5px;
}
/* scrollbar handle */
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
border: 1px solid green;
box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.363);
}
#editor{
    height: 100%;
}
.tabs-container{
    width: calc(100vw - 15rem);
    background: #363030;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    overflow: auto;
}

.tab{
    display: flex;
    background-color: slategrey;
    height: 73%;
    align-items: center;
    margin-right: 3px;
}
.fa-times{
    align-self: start;
    /* font-size:10px; */
}
.tab-name{

}