*{
    box-sizing: border-box;
}
body,html{
    margin:0px;
    padding: 0px;
}
.tool-panel{
    height: 70px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.hamburger-icon{
    width: 5%;
    height: 80%;
    border:1px solid
}
.tool-bar{
    width: 80%;
    height: 86%;
    border: 1px solid;
    align-self: center;
    display: flex;
    justify-content: center;
}
.tool-img{
    height: 83%;
    width: 100%;    
}
.tool{
position: relative;
}
.tool-options{
    left: -29px;
    top: 63px;

    position: absolute;
    height: 6rem;
    width: 8rem;
    background: yellow;
    display: none;
}
.show{
    display: block;
}
/* tool options */
.slider{
    height: 34%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type='range']{
    width: 70%;
}
.colors{
    height: 66%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height: 61%;
    width: 30%;
    border-radius: 50%;
}
.red{
    background: red;
}
.green{
    background: green;
}
.blue{
    background: blue;

}
/* styling  */
.stickyPad{
    height: 14rem;
    width: 16rem;
    /* background: yellow; */
    position: absolute;
    top: 34vh;
    left: 20vw;
}
.navBar{
    height: 16%;
    background: sandybrown;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.container{
    height: calc( 14rem - 16%);
}
textarea{
    height: 100%;
    width: 100%;
}
.close{
    height: 60%;
    width: 9%;
    border-radius: 50%;
    background: red;
    margin-right: 0.4rem;
}
.minimize{
    height: 60%;
    width: 9%;
    border-radius: 50%;
    background: green;
    margin-right: 0.4rem;
}
.upload-img{
    height: 90%;
    width:100%;
}