.App {
  text-align: center;
}
*{
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-view{
  width: 40vw;
  background: lightgray;
  display: flex;
  
}
.profile-parent{
  border: 2px solid red;
  width: 49%;
  background: white;
}
.profile{
  
  border: 2px solid red;
}
.profile-details{
  text-align: center;
}
.profile-img{
  height:5remx;
  width:5rem;
  object-fit: contain;
}
.app{
  display: flex;
}
.post-view{
width: 70vw;;
}
.header{
  height: 20vh;
  border:1px solid gray;
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.fa.fa-plus{
  font-size:2rem;
}
